@import "node_modules/@picocss/pico/scss/pico.scss";

// Pico overrides 
// $primary-500: #e91e63;

.container {
  h1 {
    margin: 4rem 0
  }
  &.home {
    h1 {
      margin: 4rem 0 0
    }
  }
}

.subtitle {
  margin: 0 0 3rem
}

.challenger {
  margin: 0 0 3rem;
  max-width: 50%
}

.no-margin {
  margin: 0
}

.small-bottom-margin {
  margin: 0 0 0.5rem
}

.big-bottom-margin {
  margin: 0 0 8rem
}

.half-width {
  margin: 0 0 4rem;
  width: 50%;
}

nav img {
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--pico-primary);
}

article img {
  margin-bottom: var(--typography-spacing-vertical);
  width: 250px;
}

ul.features { 
  margin: 0 0 2.5rem 1rem;
  li {
    margin: 0;
    padding: 0;
  }
}

.aligned-columns {
  margin: 0 0 2rem;
  p {
    margin: 0;
    span {
      margin: 0 0.5rem 0 0;
      display: inline-block;
      width: 8rem;
      text-align: right;
      font-weight: bold;
    }
  }
}

main {
  > a {
    margin: 0 0 3rem;
  }
  > section > div {
    margin: 0 0 4rem;
  }
}

.mx-table-date td {
  text-align: center;
}
